html
    head
        link(rel='stylesheet', href='/pages/stylesheet/stylesheet.css')
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")    
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.7.2/css/all.css")
    body

        div.container
            div.jumbotron.display-4.text-center.mt-5.p-5
                h1='Error : '+error

        script(src="https://code.jquery.com/jquery-3.3.1.min.js")   
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
